/** @define iframe-embed; weak */
body.in-iframe {
    .header {
        display: none !important;
    }
    .sidebar {
        display: none !important;
    }
    .bottom-nav-container {
        display: none !important;
    }
}
